body {
  background: url('https://i0.hippopx.com/photos/695/722/391/jupiter-sky-space-planet-preview.jpg')no-repeat;
  background-size: cover;
  font-family: sans-serif;
}

#container {
  background-color:  rgba(216, 206, 161, 0.349);
  border: 5px double #d8ceb7;
  color: #ffffff;
  text-align: center;
  width: 200px;
}

h1 {
  border-bottom: 2px ;
  color:#ffe3af;
  font-size: 2.7em;
}

h2 {
  font-size: 1.6em;
}

ul {
  list-style: none;
  padding-left: 0;
}

ul li {
  font-size: 1.2em;
}

a {
  color: inherit
}
